*{box-sizing: border-box;}


body {background-color: #999;}

.container {width:1000px;
            margin:0 auto;}

code {
    background: #eee;
    color: #999;
    display: block;
    font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
    padding: 24px 15px;
    margin: 5px 0px;
    text-align: center;
  }

  section {
    background: #eee;
    color: #999;
    display: block;
    font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
    padding: 24px 15px;
    margin: 5px;
    text-align: center;
    position:relative;
    float: left;
    width: 60%;
    position: relative;
    height: 270px;
  
            
  }

  

  #full {    padding: 20px;
    margin-bottom: 20px;
    color: #eee;
    background: #999;
    position: absolute;
    width: 550px;
    left:0 px;
    float: left;
    overflow: initial;
    height: 170px;

  
      }

  #head {  padding: 10px;
        color: #999;
    background: #eee;
width:530px;
position: absolute;
top: 20px;
left: 0px;
margin: 30px 10px 10px 10px;
float:left;
 }

    #paragraph {  padding: 10px;
        
        color: #999;
        background: #eee;
    width: 530px ; 
  position: absolute;
  top:100px;
  left:0px;
margin: 10px;
float: left;}

  header,
  section,
  aside,
  footer {
    margin: 10px;
  }
 

  aside {
    float: right;
    width: 30%;
    height: 270px;
    overflow:auto;
    background: #eee;
           
  }
  footer {
    clear: both;
    margin-bottom: 0;
    
  }

  .clearfix {
    overflow: auto;
  }

 
  
